
  <section>
  <a href="https://en.wikipedia.org/wiki/Contemporary_R%26B" target="_blank">R&B<br><br>
  <a href="https://en.wikipedia.org/wiki/Rapping" target="_blank">Rap<br><br>
  <a href="https://en.wikipedia.org/wiki/Country_music" target="_blank">Country<br><br>
  <a href="https://en.wikipedia.org/wiki/Electronic_dance_music" target="_blank">EDM<br><br>
  <a href="https://en.wikipedia.org/wiki/Rock_music" target="_blank">Rock<br><br>
  <a href="https://en.wikipedia.org/wiki/Pop_music" target="_blank">Pop
  </section>